.task {
    text-align: center;
    padding: 15px 15px;
    color: #4CAF50;
    font-size: 20px;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: #4CAF50
}


.button {
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 8px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 40px;
  line-height: 1.15;
  margin: 5px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 15px;
  position: absolute; right: 500px;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
}

.input {
    width: 200px;
    height: 26px;
    float: left;
}

.delete {
    height: 35px;
    width:60px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ff0014;
}

.todo {
    /* border: 2px solid blue; */
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-rows: 1fr 20px;
    background: linear-gradient(to bottom, #7927b2, #fb3182);
    justify-content: center;
    background-attachment: fixed;
    align-items: center;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
